<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.UserMapper">
    <select id="queryByNameAndPwd" resultType="com.entity.User">
        select id,username,password,tel,status from user where (username=#{username} or tel=#{username})
    </select>

    <insert id="add">
        insert into user(username,password,tel,status,createdate,level) values(#{user.username},#{user.password},#{user.tel},1,curdate(),1)
    </insert>

    <select id="queryUsernameAndTel" resultType="com.entity.User">
        select username tel from user where username=#{username}
    </select>

    <select id="queryTel" resultType="com.entity.User">
        select tel from user where tel=#{tel}
    </select>
    
    <update id="updatePwd">
        update user set password =#{pwd} where tel =#{tel}
    </update>
</mapper>
